<h2>Create an Author</h2>
<%= form_tag authors_path, method: "post" do %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h3>Errors OH NO:</h3>
      <ul>
        <% @author.errors.each do |m| %>
          <li><%=m%></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @author.errors[:name].empty? ? '<div class="field">' : '<div class="field_with_errors">' %>
    <%= label_tag "name", "Name" %>
    <%= text_field_tag @author.name %>
  </div>

  <%= @author.errors[:email].empty? ? '<div class="field">' : '<div class="field_with_errors">' %>
    <%= label_tag "email", "Email" %>
    <%= text_field_tag @author.email %>
  </div>

  <%= @author.errors[:phone_number].empty? ? '<div class="field">' : '<div class="field_with_errors">' %>
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
